{{>head}}

<body>
  <div class="container">
    {{>header}}

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h4 class="text-center">Users</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <table class="table">
          <thead>
            <tr class="text-muted">
              <th>timestamp</th>
              <th>username</th>
            </tr>
          </thead>
          <tbody>
            {{#users}}
              <tr style="font-size:80%">
                <td style="white-space:nowrap">{{timeStamp}}</td>
                <td style="width:100%">{{username}}</td>
              </tr>
            {{/users}}
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <h4 class="text-center">Repos</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        <table class="table">
          <thead>
            <tr class="text-muted">
              <th>timestamp</th>
              <th class="text-right">id</th>
              <th>name</th>
              <th>users</th>
            </tr>
          </thead>
          <tbody>
            {{#repos}}
              <tr style="font-size:80%">
                <td style="white-space:nowrap">{{timeStamp}}</td>
                <td class="text-right">{{id}}</td>
                <td>{{name}}</td>
                <td style="width:100%">{{#users}}{{.}}{{/users}} </td>
              </tr>
            {{/repos}}
          </tbody>
        </table>
      </div>
    </div>

    {{>footer}}
  </div>
</body>
