{{>head}}

<body>
  <div class="container">
    {{>header}}

    <div class="row">
      <div class="col-xs-12 text-center">
        <button class="btn btn-success" onclick="window.location='{{url}}'">Authorize</button>
      </div>
    </div>

    {{>footer}}
  </div>
</body>
