{{>head}}

<body>
  <div class="container">
    <div class="row">
      {{>heading}}
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <button class="btn btn-success" onclick="window.location='{{url}}'">Authorize</button>
      </div>
    </div>
  </div>
</body>
