<!DOCTYPE html>
<html lang="en">

<head>{{>head}}</head>

<body>
  {{>contact}}

  <div class="container">
    {{>header}}

    <h2 class="col-xs-12 text-center text-success" style="margin-bottom:0">github starred search</h2>
    <h5 class="col-xs-12 text-center text-success" style="margin-top:0">search readmes in your starred repositories</h5>

    <div class="row" style="padding:96px 0 16px 0">
      <div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
        <h4 class="text-center">Authorize GitHub Access</h4>
        <h6>Starred Search requests no permissions other than read access to public data.</h6>
        <h6>Authorization is used to identify your account and avoid rate-limited anonymous GitHub API requests.</h6>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 text-center">
        <button class="btn btn-success" onclick="window.location='{{url}}'">Authorize</button>
      </div>
    </div>
  </div>
</body>

</html>
