{{>head}}

<body>
  <div class="container">
    <div class="row">
      {{>heading}}
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h4>Searching {{totalCount}} readmes</h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <form class="form-inline text-center">
          <div class="form-group">
            <input type="text" id="query" class="form-control" name="query" placeholder="Text" value="{{query}}"
                   autocapitalize="off" autocorrect="off">
            <button type="submit" class="btn btn-success form-control">Search</button>
          </div>
        </form>
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
        {{#repos}}
          <table class="table">
            <thead>
              <tr class="text-muted">
                <th class="text-right">owner</th>
                <th></th>
                <th>repository</th>
                <th class="text-right">matches</th>
                <th class="text-right">starred</th>
              </tr>
            </thead>
            <tbody>
              {{#repos}}
                <tr>
                  <td class="text-right" style="white-space:nowrap">{{ownerName}}</td>
                  <td class="text-center" style="padding-left:0; padding-right:0">/</td>
                  <td style="white-space:nowrap; width:100%"><a href="{{repoUrl}}">{{repoName}}</a></td>
                  <td class="text-right"><span class="badge">{{count}}</span></td>
                  <td class="text-right" style="white-space:nowrap">{{starredAt}}</td>
                </tr>
                <tr>
                  <td colspan="2" style="font-size:80%; border:none; padding-top:0"></td>
                  <td colspan="3" style="font-size:80%; border:none; padding-top:0">
                    {{#lines}}
                      <div style="padding-bottom:5px; line-height:1.25">{{{.}}}</div>
                    {{/lines}}
                  </td>
                </tr>
              {{/repos}}
            </tbody>
          </table>
        {{/repos}}
        {{^repos}}
          <h5 class="text-center">{{status}}</h5>
        {{/repos}}
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      var input = $("#query").get(0);

      input.focus();
      setTimeout(function() { input.selectionStart = input.selectionEnd; }, 1);
    });
  </script>
</body>
