mark {
  padding: 0;
  background-color: ffe5b4;
}

.break-word {
  word-wrap: break-word;
  word-break: break-word;
}

a.disabled {
  color: black;
}

a:hover.disabled, a:focus.disabled {
  text-decoration: none;
}
