<h5 style="width:100%; padding:4px 16px 8px 16px">
  <div style="float:right">
    <a href="https://twitter.com/mjmsmith"><img src="/images/Twitter.png" width="16" height="16"></a>
    <a href="https://github.com/mjmsmith/starredsearch" style="padding:0 8px"><img src="/images/GitHub.png" width="16" height="16"></a>
    <a href="https://camazotz.com/"><img src="/images/Camazotz.png" width="16" height="16"></a>
  </div>
</h5>
