<h6 style="width:100%; padding:4px 16px 8px 16px">
<div style="float:left"><a class="text-left" style="color:darkred" href="https://twitter.com/mjmsmith">@mjmsmith</a></div>
  <div style="float:right"><a class="text-right" style="color:darkred" href="https://camazotz.com">Camazotz LLC</a></div>
</h6>
