<div class="row">
  <div class="col-xs-12 text-center" style="padding-top:32px; padding-bottom:24px">
    <span class="mega-octicon octicon-mark-github" style="font-size:64px"></span>
    <span class="mega-octicon octicon-star" style="font-size:64px; padding-left:24px; padding-right:24px"></span>
    <span class="mega-octicon octicon-search" style="font-size:64px"></span>
  </div>
</div>
