<h5 style="position:fixed; padding:0; top:5px; right:20px">
  <div><a href="https://camazotz.com" class="text-muted">Camazotz LLC</a></div>
  <div class="text-right"><a href="https://twitter.com/mjmsmith" class="text-muted">@mjmsmith</a></div>
</h5>

<div class="row">
  <div class="col-xs-12 text-center" style="padding-top:32px; padding-bottom:24px">
    <span class="mega-octicon octicon-mark-github" style="font-size:64px"></span>
    <span class="mega-octicon octicon-star" style="font-size:64px; padding-left:24px; padding-right:24px"></span>
    <span class="mega-octicon octicon-search" style="font-size:64px"></span>
  </div>
</div>
